*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 100vh;
}
div li{
    list-style-type: none;
    margin: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    color: red;
    
}
div{
    border-radius: 20px;
    padding: 10%;
    border: 1px solid #000;
}
